
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Registration Form & Validation(Template)</h3>
      <form >
        <div class="form-group">
          <label>First Name</label>
          <input type="text" [(ngModel)]="userDetails.firstName" class="form-control" name="firstName"  #firstName="ngModel" required />
        
          <p *ngIf="!userDetails.firstName && firstName.touched || (!userDetails.firstName && isValid)" class="error">Please
            fill this field</p>

        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" [(ngModel)]="userDetails.lastName" class="form-control" name="lastName" #lastName="ngModel" required />
          <p *ngIf="!userDetails.lastName && lastName.touched || (!userDetails.lastName && isValid)" class="error">Please
              fill this field</p>
        </div>
        <div class="form-group">
          <label>Email</label>

          <input type="email" [(ngModel)]="userDetails.email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        name="email" #email="ngModel" required>
      
      <p *ngIf="!userDetails.email && email.touched || (!userDetails.email && isValid)"
      class="error">Please fill this field</p>
    <div *ngIf=userDetails.email [hidden]="email.untouched || email.valid "
      class="error">Please enter a valid email </div>

        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" [(ngModel)]="userDetails.password" class="form-control" name="password"  #password="ngModel" minlength="8" required />
          <p *ngIf="!userDetails.password && password.touched || (!userDetails.password && isValid)" class="error">Please
              fill this field</p>
              <div *ngIf=userDetails.password [hidden]="password.untouched || password.valid "
      class="error">Password must be more
      than 8 characters </div>
        </div>
        <div class="form-group">
          <label>Mobile Number</label>
          <input type="text" [(ngModel)]="userDetails.mobileNumber" class="form-control" name="mobileNumber" #mobileNumber="ngModel" (keypress)="keyPress($event)"
            minlength=10 maxlength=10 />
            <p *ngIf="!userDetails.mobileNumber && mobileNumber.touched || (!userDetails.mobileNumber && isValid)" class="error">Please
                fill this field</p>
        </div>
        <!-- <div class="form-group">
          <label>Location</label>
          <ng4geo-autocomplete name="location" #location="ngModel" (componentCallback)="getLocation($event)"
          [(ngModel)]="userDetails.location" required>
        </ng4geo-autocomplete>
        <p *ngIf="!userDetails.location && location.touched || (!userDetails.location && isValid)" class="error">Please
          fill this field</p>
        </div><br> -->
        <label>Location</label>
        <div id="locationField" class="form-group">
          
          <input type="text" id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" />
        </div>

        <table id="address">
          <tr>
            <td class="label">Street address</td>
            <td class="slimField"><input class="field" id="street_number" disabled="true"/></td>
            <td class="wideField" colspan="2"><input class="field" id="route" disabled="true"/></td>
          </tr>
          <tr>
            <td class="label">City</td>
            <td class="wideField" colspan="3"><input class="field" id="locality" disabled="true"/></td>
          </tr>
          <tr>
            <td class="label">State</td>
            <td class="slimField"><input class="field" id="administrative_area_level_1" disabled="true"/></td>
            <td class="label">Zip code</td>
            <td class="wideField"><input class="field" id="postal_code" disabled="true"/></td>
          </tr>
          <tr>
            <td class="label">Country</td>
            <td class="wideField" colspan="3"><input class="field" id="country" disabled="true"/></td>
          </tr>
        </table>
        <div class="form-group" style="margin-top:20px;">
          <button class="btn btn-primary" (click)="sendMessage()">Register</button>
        
        </div>
      </form>
    </div>
  </div>
</div>

