<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink='/users'>Users</a></li>
      <li><a routerLink='/add-user'>Add user</a></li>
      <li><a routerLink='/auto-complete-filter'>Filter</a></li>
     
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li style="cursor:pointer;"><a (click)="logOut()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>



<div class="container">
  <div class="row" style="margin-top:20px;">
    <div class="col-xs-4 form-group">
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="createUser.name">
    </div>
    <div class="col-xs-4">
      <label>Job</label>
      <input type="text" class="form-control" [(ngModel)]="createUser.job">
    </div>
  
  <div class="col-xs-2 form-group" *ngIf="!userId">
    <button class="btn btn-sm btn-primary" style="margin-top:25px;" type="submit" (click)="addUser()">Add</button>
  </div>
  <div class="col-xs-2 form-group" *ngIf="userId">
      <button class="btn btn-sm btn-primary" style="margin-top:25px;" type="submit" (click)="updateUser()">Update</button>
    </div>
</div>
<div class="row" *ngIf="hide">

  <div class="col-xs-2" *ngIf="!updateName">
    {{userName}}
  </div>
  <div class="col-xs-2" *ngIf="updateName">
      {{updateName}}
    </div>
  <div class="col-xs-2" *ngIf="!updateJob">
    {{userJob}}
  </div>
  <div class="col-xs-2" *ngIf="updateJob">
      {{updateJob}}
    </div>
  <div class="col-xs-1" *ngIf="userName">
    <button class="btn btn-sm btn-primary" (click)="editUser()">Edit</button>
  </div>
  <div class="col-xs-1" *ngIf="userName">
      <button class="btn btn-sm btn-primary" (click)="deleteUser()">Delete</button>
  </div>
</div>
</div>
