<!-- <div *ngIf="token">
    <app-navbar></app-navbar>
</div> -->

<router-outlet></router-outlet>
<!-- <div class="container main-margin">
    <div class="row">
        <h1>Angular Registration Forms</h1>
        <div class="col-sm-6">
                <a routerLink='/registation/reactive'>
            <button class="btn btn-danger btn-custom"> Reactive Forms </button></a>
        </div>
        <div class="col-sm-6"><a routerLink='/registation/template'>
            <button class="btn btn-success btn-custom"> Template Driven Forms</button></a>

        </div>
        <div class="clearfix"></div>
    </div>
</div> -->