<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Registration Form & Validation(Reactive)</h3>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" formControlName="firstName" class="form-control" id="firstName" name="firstname" required />
          <span *ngIf="(isValid &&  registerForm.controls.firstName.status==='INVALID') || ( registerForm.controls.firstName.touched && registerForm.controls.firstName.status==='INVALID')">
            Please fill this field
          </span>

        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" id="lastName" name="lastName" required />
          <span *ngIf="(isValid &&  registerForm.controls.lastName.status==='INVALID') || ( registerForm.controls.lastName.touched && registerForm.controls.lastName.status==='INVALID')">
            Please fill this field
          </span>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" formControlName="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            id="Email" name="email" required />
          <span *ngIf="(isValid &&  registerForm.controls.email.status==='INVALID') || ( registerForm.controls.email.touched && registerForm.controls.email.status==='INVALID')">
            Please enter a valid email
          </span>


        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" formControlName="password" class="form-control" required/>
          <span *ngIf="(isValid &&  registerForm.controls.password.status==='INVALID') || ( registerForm.controls.password.touched && registerForm.controls.password.status==='INVALID')">
            Please enter atleast 8 character
          </span>
        </div>
        <div class="form-group">
          <label>Mobile Number</label>
          <input type="text" formControlName="mobileNumber" class="form-control" (keypress)="keyPress($event)" minlength=10 maxlength=10 />
          <span *ngIf="(isValid &&  registerForm.controls.mobileNumber.status==='INVALID') || ( registerForm.controls.mobileNumber.touched && registerForm.controls.mobileNumber.status==='INVALID')">
            Please enter the mobile number
          </span>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="onSignup()">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
