<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink='/users'>Users</a></li>
      <li><a routerLink='/add-user'>Add user</a></li>
      <li><a routerLink='/auto-complete-filter'>Filter</a></li>
     
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <img src="{{profilePic}}" class="img-circle" width="30px" style="margin-top:10px;">
      </li>
      <li>
        <a>{{name}}</a>
      </li>
      <li style="cursor:pointer;"><a (click)="logOut()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>


